<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>PlayZone - Plongez dans l'univers compétitif du gaming</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Averia+Libre:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Cherry+Bomb+One&family=Jersey+25&family=Manjari:wght@100;400;700&family=Orbitron:wght@400..900&family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&family=Rajdhani:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    
        <link rel="stylesheet" href="/login.css">
        <script src="/javascript/login.js" defer></script>
    </head>
<body>
    <header>
        <div class="position-header">
            <img src="/img/DALL·E 2024-11-29 15.51.38 - Design a sleek and dynamic logo for a video game tournament platform with no text. The logo should have a dark gray background and use orange as the p.webp" alt="Logo PlayZone">
            <nav>
              <ul>
                <li><a href="/views/index.html">Accueil</a></li>
                <li><a href="#">Tournois</a></li>
                <li><a href="#">Connexion/Inscription</a></li>
              </ul>
            </nav>
            <h1 class="title-with-bar">PlayZone</h1>
          </div>
<div class="line"></div>
        </header>
        
        
        
        <main>
            <div class="form-container">
<h1>Connexion</h1>
                <form action="">
                    <label for="">Email</label>
    <input type="mail" name="mail" id="mail">
    <label for="">Mot de passe</label>
    <input type="password" name="password" id="password">
    <div class="a-button-position">
        <a>S'inscrire</a>
        <a>Mot de passe oublié ?</a>
        <button>Let's Go</button>
    </div>
                </form>

            </div>

            <img src="/img/ryu-cyclops 1.png" alt="">
        </main>
        <footer></footer>


</body>
</html>