<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inscription à un tournoi</title>
    <link rel="stylesheet" href="/payment.css">
</head>
<body>
    <header>
        <div class="position-header">
            <img src="/img/DALL·E 2024-11-29 15.51.38 - Design a sleek and dynamic logo for a video game tournament platform with no text. The logo should have a dark gray background and use orange as the p.webp" alt="Logo PlayZone">
            <nav>
              <ul>
                <li><a href="/views/index.html">Accueil</a></li>
                <li><a href="#">Tournois</a></li>
                <li><a href="#">Connexion/Inscription</a></li>
              </ul>
            </nav>
            <h1 class="title-with-bar">PlayZone</h1>
          </div>
<div class="line"></div>
        </header>
        <main>

<div class="card-container">
    <div class="card">
        <img src="/img/mariokart 1.png" alt="">
        <div class="position-card">
            <div class="position-card1">
                <h3>Nom du tournoi</h3>
                <div class="date">Date du tournoi</div>
                <div class="game">SMASH BROS</div>
                <div class="nb-participant">Nombre de participants : 12</div>

            </div>
            <div class="position-price">
                <div class="recompense">PS5 à gagner</div>
                <div class="prix">10€</div>

            </div>
        </div>
       
    </div>
    <button>Payer en ligne</button>
    <p>ou</p>
    <button>Payer sur place</button>
</div>


        </main>
    <footer></footer>
</body>
</html>